<div class="page-width">
  <div class="content product" data-section-id="{{ section.id }}" data-section-type="product">
    <div class="left">
      {% include 'product-images' %}
    </div>
    <div class="right">
      <div class="product_title_line">
        <h1 class="product_title">{{ product.title }}</h1>
      </div>
      {% include 'product-form' %}

      <div class="row product-description">
        {{ product.description }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product information",
  "settings": [
    {
      "type": "checkbox",
      "id": "product_show_quantity_selector",
      "label": "Show quantity selector",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    }
  ]
}
{% endschema %}
