jQuery(document).ready(function($) {
	$(".btn-hamburger").click(function(e) {
		$(".mobile-nav").addClass("opened");
	});

	$(".mobile-nav .btn-close").click(function(e) {
		$(".mobile-nav").removeClass("opened");
	});

	$(".product-images .gallery .gallery-item").click(function(e) {
		$(".product-images .gallery .gallery-item").removeClass("selected");
		$(this).addClass("selected");
		$(".product-images .frame img").attr("src", $(this).attr("data-src"));
	});

	$("#productSelect-product-template").change(function(e) {
		/* update variant images */
		var selected_image = $(this).find("option:selected").attr("data-image");
		$.each($(".gallery .gallery-item"), function() {
			if($(this).attr("data-image") == selected_image) {
				$(this).trigger("click");
				return;
			}
		});

		/* update product price */
		$(".product-price .sale_price").text("$" + (parseFloat($(this).find("option:selected").attr("data-sale_price")) / 100).toFixed(2));
	});

	$(".qty-adjust_minus").click(function(e) {
		var qty = $(".qty-num").val();
		qty = qty>1?qty-1:1;
		$(".qty-num").val(qty);
	});

	$(".qty-adjust_plus").click(function(e) {
		var qty = $(".qty-num").val();
		qty ++;
		$(".qty-num").val(qty);
	});

	$("#addToCart-product-template").click(function(e) {
		e.preventDefault();

		var form = $("form.shopify-product-form");

		jQuery.ajax({
     	  type: 'POST',
	      url: '/cart/add.js',
	      data: form.serialize(),
	      dataType: 'json',
	      success: function(cart) {
	        console.log(cart);
	        $(".cart-count").text(cart.quantity);

	        if($(".cart-count").hasClass("hide")) {
	        	$(".cart-count").removeClass("hide");
	        }

	        updateAjaxCart();
	        openAjaxCart();
	      }
	    });
	});

	$(".gallery_btn-prev").click(function(e) {
		if ($(this).hasClass("disabled")) {
			return;
		}

		$(".gallery_btn-next").removeClass("disabled");

		var sel_item = $(".product-images .gallery .gallery-item.selected");
		if (sel_item.prev().index() <= 0) {
			$(this).addClass("disabled");
		}

		sel_item.prev().trigger("click");
	});

	$(".gallery_btn-next").click(function(e) {
		if ($(this).hasClass("disabled")) {
			return;
		}

		$(".gallery_btn-prev").removeClass("disabled");

		var sel_item = $(".product-images .gallery .gallery-item.selected");
		if (sel_item.next().index() >= $(".product-images .gallery .gallery-item").length - 1) {
			$(this).addClass("disabled");
		}

		sel_item.next().trigger("click");
	});

	function updateAjaxCart() {
		jQuery.ajax({
     	  type: 'POST',
	      url: '/cart.js',
	      dataType: 'json',
	      success: function(cart) {
	        console.log(cart);

	        $(".total_qty").text(cart.item_count);
	        $(".cart-count").text(cart.item_count);

	        var content_html = "";
        	$(".ajaxcart-content").empty();
	        $.each(cart.items, function(index, item) {
	        	content_html += "<div class='item-row' data-variantid='" + item.variant_id + "'>"
								+	"<div class='item-image'>"
								+		"<img src='" + item.image + "'>"
								+	"</div>"
								+	"<div class='item-content'>"
								+		"<label class='item-title'>"
								+			item.title
								+		"</label>"
								+		"<label class='item-price'>"
								+			"<span class='money sale_price strong'>$" + (parseFloat(item.price) / 100).toFixed(2) + "</span>"
								+		"</label>"
								+		"<div class='item-quantity-row'>"
								+			"<button class='ajax-qty-adjust ajax-qty-adjust_minus'>−</button>"
								+	        "<input type='number' class='ajax-qty-num' value='" + item.quantity + "' min='1'>"
								+	        "<button class='ajax-qty-adjust ajax-qty-adjust_plus'>+</button>"
								+		"</div>"
								+	"</div>"
								+"</div>";
	        });
        	$(".ajaxcart-content").html(content_html);
        	$(".ajaxcart-subtotal").text("$" + parseFloat(cart.total_price/100).toFixed(2));
	      }
	    });
	}

	function openAjaxCart() {
		$(".ajaxcart-overlay").removeClass("hide");
		$(".ajaxCart").addClass("opened");
	}

	$(".btn-ajaxCart").click(function(e) {
		openAjaxCart();
	});

	function closeAjaxCart() {
		$(".ajaxcart-overlay").addClass("hide");
		$(".ajaxCart").removeClass("opened");
	}

	function updateVariant(id, qty) {
		var data = {};
		data[id] = qty;
		jQuery.ajax({
          type: 'POST',
          url: '/cart/update.js',
          data: {updates : data},
          dataType: 'json',
          success: function(cart) {
          	updateAjaxCart();
          }
        });
	}

	$(".ajaxcart-overlay").click(function(e) {
		closeAjaxCart();
	});

	$(".ajaxCart .btn-close").click(function(e) {
		closeAjaxCart();
	});

	$(document).on("change", ".ajax-qty-num", function(e) {
		var variantid = $(this).parents(".item-row").attr("data-variantid");
		console.log(variantid);

		updateVariant(variantid, $(this).val());
	});

	$(document).on("click", ".ajax-qty-adjust_plus", function(e) {
		var qty_fld = $(this).parent().find(".ajax-qty-num");
		var qty = parseInt(qty_fld.val());
		qty_fld.val(qty + 1);
		qty_fld.trigger("change");
	});

	$(document).on("click", ".ajax-qty-adjust_minus", function(e) {
		var qty_fld = $(this).parent().find(".ajax-qty-num");
		var qty = parseInt(qty_fld.val());
		if (qty < 1) {
			return;
		}
		qty_fld.val(qty - 1);
		qty_fld.trigger("change");
	});
});